<nb-layout>
    <nb-layout-column>

        <app-navbar *ngIf="user" [user]="user"></app-navbar>
         

        <div class="main-content">
            <div class="page-title" *ngIf="currentRoute && !currentRoute.includes('/account')">
                <nb-icon [icon]="PAGE_TITLES[currentRoute]['icon']"></nb-icon>
                <div class="title">
                    <h3>{{ PAGE_TITLES[currentRoute]['title'] }}</h3>
                    <span class="caption text-basic">{{ PAGE_TITLES[currentRoute]['description'] }}</span>
                </div>
            </div> 
            
            <div class="container">
                <router-outlet></router-outlet> 
            </div>
        </div>
        
        <div class="badge-container">
            <nb-badge text="V1" status="basic"></nb-badge>
            <nb-badge text="CSDE" status="info" style="margin-left: 1rem;"></nb-badge>
        </div>
    </nb-layout-column>
</nb-layout>