<nb-accordion *ngIf="user">
    <nb-accordion-item *ngFor="let app of constants.APPS | keyvalue" #accordionItem>
        <nb-accordion-item-header (click)="onAppClick(app.key)">
            <span class="caption-2">
                <nb-icon *ngIf="app.key!=='ZOEY_ADMIN'; else zoeyRobot" [icon]="icons[app.key]"></nb-icon>
                <ng-template #zoeyRobot><fa-icon [icon]="faRobot" size="lg"></fa-icon></ng-template>
                {{ app.key | custom }}</span>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <div class="sections-container">
                <div class="section">
                    <div class="section-title">
                        <span class="caption-2">Active Permissions</span>
                    </div>
                    <div class="section-content" *ngIf="user['permissions'][app.key]">
                        <div class="tag-container" *ngFor="let p of user['permissions'][app.key]" >
                            <nb-tag status="info" [text]="p" size="tiny"></nb-tag>
                        </div>
                    </div>
                </div>
                <div class="section" id="available-permissions">
                    <div class="section-title">
                        <span class="caption-2">Available Permissions</span>
                        <div class="btn" (click)="requestPermissions()">
                            <nb-icon icon="plus"></nb-icon>
                        </div>
                    </div>
                    <div class="section-content">
                        <div class="tag-container" *ngFor="let p of availablePermissions" >
                            <nb-tag [status]="permissionsToRequest && permissionsToRequest.includes(p) ? 'info' : 'basic'" [text]="p" size="tiny" (click)="onPermissionClick(p)"></nb-tag>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div class="section-title">
                        <span class="caption-2">Requested Permissions</span>
                    </div>
                    <div class="section-content" *ngIf="user['requested_permissions'] && user['requested_permissions'][app.key]">
                        <div class="tag-container" *ngFor="let p of user['requested_permissions'][app.key]" >
                            <nb-tag status="warning" [text]="p" size="tiny"></nb-tag>
                        </div>
                    </div>
                </div>
            </div>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>