@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';
@import './vars.scss';

$nb-themes: nb-register-theme((
    text-basic-color: $tmo-black,
    text-info-color: $tmo-pink,
    text-primary-color: #0095ff,
    text-hint-color: $tmo-hint,
    text-warning-color: #ffaa00,
    card-border-radius: 0rem,

    button-rectangle-border-radius: 0,
    button-filled-basic-background-color: $tmo-white-border,
    button-filled-basic-focus-background-color: $tmo-white,
    button-filled-basic-hover-background-color: $tmo-white,
    button-filled-primary-background-color: $tmo-pink,
    button-filled-primary-focus-background-color: $tmo-pink,
    button-filled-primary-hover-background-color: $tmo-pink,
    button-filled-border-style: none,
    button-filled-border-width: 0,


    toggle-height: 1.15rem,
    toggle-width: 2.4rem,
    toggle-switcher-size: 1.05rem,
    toggle-basic-hover-border-color: none,
    toggle-basic-hover-background-color: #151a30,
    toggle-basic-border-color: transparent,
    toggle-basic-checked-switcher-checkmark-color: transparent,
    
    input-border-width: 2px,
    input-rectangle-border-radius: 0,
    input-tiny-text-font-weight: 500,
    input-tiny-placeholder-text-font-size: 0.8rem,
    input-basic-disabled-background-color: #edf1f7,
    input-basic-disabled-text-color: rgba(143, 155, 179, 0.9),
    input-basic-focus-border-color: none,
    input-medium-text-font-size: 0.75rem,
    input-medium-placeholder-text-font-size: 0.8rem,
    input-medium-text-font-weight: 500,

    select-rectangle-border-radius: 0,
    select-tiny-text-font-weight: 500,
    select-tiny-placeholder-text-font-size: 0.8rem,
    select-outline-border-width: 2px,
    select-outline-basic-disabled-background-color: #edf1f7,
    select-outline-basic-disabled-text-color: rgba(143, 155, 179, 0.9),
    select-outline-basic-focus-border-color: none,
    select-min-width: none,

    radio-info-border-color: #e4e9f2,
    radio-info-disabled-background-color: #edf1f7,
    radio-info-disabled-border-color: #e4e9f2,
    radio-text-font-weight: 500,

    tag-border-radius: 0,
    tag-text-transform: none,
    tag-list-with-input-tiny-padding: 0.2rem 1rem,
    tag-filled-basic-hover-background-color: none,
    tag-filled-basic-hover-border-color: none,
    tag-filled-basic-background-color: $tmo-white,
    tag-filled-basic-text-color: $tmo-black,
    tag-filled-basic-border-color: $tmo-black,
    tag-filled-basic-active-background-color: none,
    tag-filled-basic-active-border-color: $tmo-black,
    tag-filled-primary-background-color: $tmo-gray,
    tag-filled-primary-border-color: $tmo-gray,
    tag-filled-primary-active-background-color: none,
    tag-filled-primary-active-border-color: none,
    tag-filled-primary-hover-background-color: none,
    tag-filled-primary-hover-border-color: none,
    tag-filled-success-background-color: $tmo-pink,
    tag-filled-success-border-color: $tmo-pink,
    tag-filled-success-active-background-color: none,
    tag-filled-success-active-border-color: none,
    tag-filled-success-hover-background-color: none,
    tag-filled-success-hover-border-color: none,

    tabset-tab-active-text-color: #222b45,
    tabset-tab-active-underline-color: #ffc94d,
    tabset-tab-hover-text-color: #222b45,
    tabset-tab-hover-underline-color: none,

    checkbox-text-font-weight: 500,
    checkbox-text-font-size: 0.75rem,
    checkbox-border-width: 2px,
    checkbox-basic-border-color: $tmo-black,
    checkbox-basic-focus-checked-background-color: $tmo-pink,
    checkbox-basic-focus-checked-border-color: $tmo-black,
    checkbox-basic-checked-background-color: $tmo-pink,
    checkbox-basic-checked-border-color: $tmo-black,
    checkbox-basic-hover-background-color: none,
    checkbox-basic-hover-border-color: none,
    checkbox-basic-hover-checked-background-color: none,
    checkbox-basic-hover-checked-border-color: none,
    checkbox-basic-active-checked-background-color: $tmo-black,
    checkbox-basic-active-checked-border-color: $tmo-black,

    spinner-info-circle-filled-color: $tmo-pink,

    toastr-border-radius: 0,
    toastr-border-width: 2px,
    toastr-title-text-font-weight: 600,
    toastr-success-background-color: $tmo-white,
    toastr-success-text-color: $tmo-black,
    toastr-destroyable-success-hover-background-color: $tmo-white,
    toastr-destroyable-success-hover-border-color: none,
    toastr-warning-background-color: $tmo-white,
    toastr-warning-text-color: $tmo-black,
    toastr-destroyable-warning-hover-background-color: $tmo-white,
    toastr-destroyable-warning-hover-border-color: none,

    badge-border-radius: 0,
    badge-basic-background-color: $tmo-gray,
    badge-basic-text-color: $tmo-white,
    badge-info-background-color: $tmo-pink,

    icon-basic-color: $tmo-hint,

    popover-text-color: $tmo-white,
    popover-background-color: $tmo-gray,
    popover-text-font-weight: 600,
    popover-border-radius: 0,
    popover-border-color: none,
    popover-arrow-size: 0,

), default, default);