@import '../../../styles/vars.scss';

:host {
    overflow: hidden;
    max-height: inherit;
}

nb-card {
    height: 100%;
    border: none;
    border-radius: 0rem;
    margin-bottom: 0;
    background: none;
}

nb-card-header {
    display: flex;
    flex-direction: column;
    padding: 0;

    border: none;

    nb-icon {
        margin-right: 10px;
        color: $tmo-pink;
    }
}

nb-card-body {
    display: flex;
    flex-direction: column;
    background-color: $tmo-dark-gray;

    margin-top: 1rem;
}

nb-select, input {
    width: 100%;
}

.Tabs {
    position: relative;
    
    &:after {
        content: ' ';
        display: table;
        clear: both;
    }
    margin: 0;
    padding: 0;
    list-style: none;

    &__tab {
        float: left;
        width: 25%;
        text-align: center;
        
        &:first-child.active ~ .Tabs__slider {
			transform: translateX(0) scaleX(0.02);
		}
		&:nth-child(2).active ~ .Tabs__slider {
			transform: translateX(25%) scaleX(0.02);
		}
    }

    &__slider {
        position: absolute;
        bottom: -2px;
        left: calc(22.5% / 2);
        
        width: 100%;
        height: 3px;

        background-color: $tmo-pink;
        border: 1px solid $tmo-pink;
        border-radius: 0.7rem;

        // background-color: #ffc94d;
        transform-origin: 0 0;
        transition: transform .25s;
    }

    .Tab {
        cursor: pointer;
        padding: .3rem 0;

        > span {
            transition: color .25s ease-in-out;
        }
    }
}

.form-container {
    display: grid;
    grid-template-columns: 70% 20%;
    column-gap: 10%;

    margin-top: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;

    &:not(:last-child) {
        margin-bottom: .5rem;
    }
}

::ng-deep { 
    .nb-theme-default, .nb-theme-dark {
        .ngx-json-viewer .segment-key {
            color: #ffffff !important;
        }
    }

    .nb-theme-default {
        .Tabs {
            border-bottom: 2px solid $tmo-white-border;
        }

        .Tab {
            &.active > span {
                color: $tmo-black;
            }
            &:hover > span {
                color: $tmo-black;
            }
        }
    }
}