
<div class="container">
    <nb-card id="profile" *ngIf="user">
        <nb-card-header>
            <span class="caption-3 text-basic"><nb-icon icon="person-outline"></nb-icon> Profile</span>
            <!-- <div class="btn">
                <nb-icon icon="edit"></nb-icon>
            </div> -->
        </nb-card-header>
        <nb-card-body id="profile-details">
            <div class="field" *ngFor="let field of ['first_name', 'last_name', 'username', 'email', 'slack_id', 'pier_support_group', 'admin_level']">
                <span class="caption-2">{{ field | titlecase | appName }}</span>
                <div *ngIf="field==='admin_level'; else textValue">
                    <nb-tag size="large" [text]="adminLevel" [status]="adminLevel === 'super' ? 'success' : 'basic'"></nb-tag>
                </div>
                <ng-template #textValue>
                    <span class="caption">{{ user[field] ? user[field] : '--' }}</span>
                </ng-template>
            </div>
        </nb-card-body>
    </nb-card>
    
    <nb-card id="admin" *ngIf="adminLevel">
        <nb-card-header>
            <span class="caption-3 text-basic"><nb-icon [icon]="adminLevel==='super' ? 'people-outline' : 'grid-outline'"></nb-icon>{{ adminLevel==='super' ? ' Users' : ' Apps'}}</span>
            <!-- <div *ngIf="adminLevel==='super'">
                <nb-tag status="warning" size="tiny" style="margin-right: 1rem" text="--"></nb-tag>
                <span class="caption-2 text-basic">No. of Requests To Approve</span>
            </div> -->
        </nb-card-header>
        <nb-card-body>
            <app-super *ngIf="adminLevel==='super'; else basicAdmin" [users]="users" [username]="user.username"></app-super>

            <ng-template #basicAdmin>
                <app-basic [username]="user.username"></app-basic>
            </ng-template>
        </nb-card-body>
    </nb-card>  
</div>
