<div class="container">
    <nb-card>
        <nb-card-header>
            <span class="caption-3 text-basic">Rules</span>
            
            <div class="btns-container">
                <div class="btn" (click)="onAddClick()" id="add-rule">
                    <nb-icon icon="plus-square"></nb-icon>
                </div>
            </div>

            <div class="filter">
                <app-custom-input [inputControl]="rulesFilter" [placeholder]="'Filter'"></app-custom-input>
                <div class="alpha-sort" [ngClass]="[alphaSortOn ? 'toggle-on' : '']" (click)="onToggleAlphaSort()">
                    <nb-icon icon="arrow-downward-outline"></nb-icon>
                    <div class="a-z">
                        <span class="caption-2 text-basic">A</span>
                        <span class="caption-2 text-basic">Z</span>
                    </div>
                </div>
            </div>
        </nb-card-header>
        <nb-card-body>
            <ngx-skeleton-loader *ngIf="!rules; else rulesAccordion"
                count="8"
                animation="pulse"
                [theme]="{
                    'border-radius': '0rem',
                    'height': '10%',
                    'width': '100%',
                    'animation': '1s cubic-bezier(.4,0,.2,1) infinite pulse'
                }"
            ></ngx-skeleton-loader>
            <ng-template #rulesAccordion>
                <nb-accordion>
                    <nb-accordion-item *ngFor="let rule of filteredRules" #accordionItem>
                        <nb-accordion-item-header>
                            <div class="rule-id">
                                <span class="caption-2">Rule ID: <span class="caption" style="margin-left: .5rem;">{{ rule['rule_id'] }}</span></span>
                                <span class="caption-2">Active: <span class="caption-2" [ngClass]="rule['active'] ? 'success' : 'danger'" style="margin-left: .3rem">{{ rule['active'].toString() | uppercase }}</span></span>
                            </div>
                            <div class="btns-container" [ngStyle]="{'visibility': !accordionItem['collapsedValue'] ? 'visible' : 'hidden'}">
                                <div class="btn" (click)="onEditClick($event, rule, accordionItem)">
                                    <nb-icon icon="edit"></nb-icon>
                                </div>
                                <div class="btn" (click)="onDeleteClick($event, rule.rule_id)">
                                    <nb-icon icon="trash-2"></nb-icon>
                                </div>
                            </div>
                        </nb-accordion-item-header>
                        <nb-accordion-item-body>
                            <div class="rule-metadata">
                                <span class="caption-1">Create User: <span class="caption-1 value">{{ rule && rule['create_user'] ? rule['create_user'] : '--' }}</span></span>
                                <span class="caption-1">Create Date: <span class="caption-1 value">{{ rule && rule['create_dttm'] ? rule['create_dttm'].split('T')[0] : '--' }}</span></span>
                                <span class="caption-1">Mod User: <span class="caption-1 value">{{ rule && rule['mod_user'] ? rule['mod_user'] : '--' }}</span></span>
                                <span class="caption-1">Mod Date: <span class="caption-1 value">{{ rule && rule['mod_dttm'] ? rule['mod_dttm'].split('T')[0] : '--' }}</span></span>
                            </div>
                            <div class="rule-info" *ngIf="!accordionItem['collapsedValue']">
                                <div class="row" style="grid-template-columns: 1fr;">
                                    <div class="field">
                                        <span class="caption-2">Name:</span>
                                        <span class="caption">{{ rule['rule_name'] }}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="field">
                                        <span class="caption-2">Features:</span>
                                        <div class="tags" id="feature-tags">
                                            <nb-tag *ngFor="let feature of rule['features']" [text]="feature" size="tiny" status="info"></nb-tag>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <span class="caption-2">Data Type:</span>
                                        <span class="caption">{{ rule['data_type'] }}</span>
                                    </div>
                                    <div class="field">
                                        <span class="caption-2">Data Source:</span>
                                        <span class="caption">{{ rule['data_source'] }}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="field">
                                        <span class="caption-2">Result Text:</span>
                                        <span class="caption">{{ rule['result_text'] }}</span>
                                    </div>
                                    <div class="field">
                                        <span class="caption-2">System:</span>
                                        <span class="caption">{{ rule['system'] }}</span>
                                    </div>
                                    <div class="field">
                                        <span class="caption-2">Event Types:</span>
                                        <div class="tags" id="event-type-tags">
                                            <nb-tag *ngFor="let eventType of rule['event_types']" [text]="eventType" size="tiny" status="info"></nb-tag>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="field">
                                        <span class="caption-2">Default Response:</span>
                                        <span class="caption-2 text-success" [ngClass]="rule['default_response']==='FAIL' ? 'danger' : 'success'">{{ rule['default_response'] }}</span>
                                    </div>
                                    <div class="field">
                                        <span class="caption-2">Method:</span>
                                        <span class="caption">{{ rule['method'] | titlecase }}</span>
                                    </div>
                                    <div class="field">
                                        <span class="caption-2">Validate External Data:</span>
                                        <span [ngClass]="['caption-2', rule['validate_external_data'] ? 'success' : 'danger']">
                                            {{ rule['validate_external_data'].toString() | uppercase }}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="field">
                                        <span class="caption-2">Customer Issue:</span>
                                        <span class="caption-2 text-success">{{ rule['customer_issue'] }}</span>
                                    </div>
                                </div>
                                <div class="special-row header">
                                    <span class="caption-2" *ngFor="let sectionTitle of ['Subscription Data Keys', 'Values', 'External Data Key', 'Criteria']">{{ sectionTitle }}</span>
                                </div>
                                <div class="special-row" *ngFor="let sdk of rule['subscription_data_keys']; let i=index">
                                    <div class="section" id="subscriptionDataKey">
                                        <span class="caption">{{ rule['subscription_data_keys'][i] }}</span>
                                    </div>
                                    <div class="section" id="values">
                                        <div *ngIf="rule['values'][sdk].length > 0; else noValues" class="tags">
                                            <nb-tag *ngFor="let value of rule['values'][sdk]" [text]="value" size="tiny" status="info"></nb-tag>
                                        </div>
                                        <ng-template #noValues>
                                            <span class="caption">--</span>
                                        </ng-template>
                                    </div>
                                    <div class="section" id="externalDataKey">
                                        <span class="caption">{{ rule['external_data_key'] && rule['external_data_key'][sdk] ? rule['external_data_key'][sdk] : '--' }}</span>
                                    </div>
                                    <div class="section" id="criteria">
                                        <span class="caption">{{ rule['criteria'] && hasCriteria(rule['criteria'][sdk]) ? (rule['criteria'][sdk] | json) : '--' }}</span>
                                    </div>
                                </div>
                            </div>
                        </nb-accordion-item-body>
                    </nb-accordion-item>
                </nb-accordion>
            </ng-template>
        </nb-card-body>
    </nb-card>
    <app-tools [rules]="rules"></app-tools>
</div>