@import '../../styles/vars.scss';

:host {
    max-height: inherit;
    height: 100%;
    width: 100%;
    
    display: flex;
    align-items: center;
    position: relative;
}

.container {
    max-height: inherit;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 2fr;
    column-gap: 2rem;
}

nb-card {
    max-height: inherit;
    height: 100%;
    border: none;
    background: none;
    margin-bottom: 0;
}

nb-card-body {
    height: 100%;
    padding: 0;
}

nb-card-header {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    align-items: center;
    position: relative;
}

nb-accordion {
    height: 100%;
    max-height: inherit;
    
    nb-accordion-item {
        background: $tmo-gray;
    }

    nb-accordion-item-header {
        display: flex;
        position: relative;

        span {
            color: $tmo-white;
        }
    }

    nb-accordion-item-body {
        background-color: $tmo-white;
        position: relative;
    }
}

.btns-container {
    position: absolute;
    right: 0;
}

nb-accordion-item-header .btns-container {
    right: 7%;
    
    .btn {
        color: $tmo-white;
    }
}


.filter {
    margin-left: 2rem;
    display: flex;
    align-items: center;
}

.alpha-sort {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 1rem;

    .a-z {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    span {
        font-size: .6rem;
    }

    nb-icon {
        font-size: 1.8rem;
    }
}

.toggle-on {
    nb-icon, span {
        color: $tmo-pink;
    }
}

.rule-metadata {
    display: flex;
    position: absolute;
    top: 1rem;
    right: 1rem;

    span {
        display: flex;
        align-items: center;
    }

    span:not(:last-child) {
        margin-right: .5rem;
    }   

    .value {
        margin-left: .3rem;
        color: $tmo-pink;
    }
}

.rule-id {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    position: relative;
}

.rule-info {
    padding: 0 1rem;
}

.field {
    display: flex;
    flex-direction: column;

    span {
        color: $tmo-black;
    }

    span:first-child {
        padding-bottom: .2rem;
        // border-bottom: 1px solid $tmo-white-border;
        margin-bottom: .3rem;
    }
}

.tags {
    nb-tag:not(:last-child) {
        margin-right: .3rem;
        margin-bottom: .3rem;
    }
}

.row {
    position: relative; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;

    margin-top: 1rem;

    &:first-child {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.special-row {
    @extend .row;
    grid-template-columns: repeat(4, 1fr);

    span {
        color: $tmo-black;
    }
}

.header {
    padding-bottom: .3rem;
    border-bottom: 1px solid $tmo-white-border;
}