@import 'src/styles/vars.scss';

:host {
    background: $tmo-dark-gray;
    height: 100%;
    width: 10%;

    padding: 0 1.5rem;
    position: relative;
}

app-logo {
    position: absolute;
    top: 7%;
}

.navbar-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.menu {
    position: absolute;
    top: 21%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30%;
}

.menu-tab {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    
    > * {
        color: $tmo-white;
    }

    nb-icon {
        margin-right: .3rem;
    }

    &.active > * {
        color: $tmo-pink;
    }

    &:hover > * {
        color: $tmo-pink;
    }
}

#logout {
    @extend .menu-tab;

    position: absolute;
    bottom: 5%;
}

@media (min-width: 1920px) and (min-height: 1080px) {
    :host {
        width: 7%;
    }
}