<div class="navbar-container" *ngIf="user">
    <app-logo [light]="true"></app-logo>

    <div class="menu">
        <div class="menu-tab" (click)="onRouteClick(constants.ADMIN_ROUTE)" [ngClass]="{'active': currentRoute===constants.ADMIN_ROUTE || currentRoute==='/'}">
            <nb-icon [status]="(currentRoute===constants.ADMIN_ROUTE || currentRoute==='/') ? '' : 'basic'"
                [icon]="(currentRoute===constants.ADMIN_ROUTE || currentRoute==='/') ? 'home' : 'home-outline'" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
            <span [ngClass]="['caption-2']">Home</span>
        </div>
        
        <div class="menu-tab" (click)="onRouteClick(constants.PV_ROUTE)" [ngClass]="{'active': currentRoute===constants.PV_ROUTE}">
            <nb-icon [status]="currentRoute===constants.PV_ROUTE ? '' : 'basic'"
                [icon]="currentRoute===constants.PV_ROUTE ? 'flash' : 'flash-outline'" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
            <span [ngClass]="['caption-2']">PV Rule</span>
        </div>
        
        <div class="menu-tab" (click)="onRouteClick(constants.DATASOURCE_ROUTE)" [ngClass]="{'active': currentRoute===constants.DATASOURCE_ROUTE}">
            <nb-icon [status]="currentRoute===constants.DATASOURCE_ROUTE ? '' : 'basic'"
                [icon]="currentRoute===constants.DATASOURCE_ROUTE ? 'layers' : 'layers-outline'" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
            <span [ngClass]="['caption-2']">Datasource</span>
        </div>

        <div class="menu-tab" (click)="onRouteClick(constants.PIER_ISSUES_ROUTE)" [ngClass]="{'active': currentRoute===constants.PIER_ISSUES_ROUTE}">
            <nb-icon [status]="currentRoute===constants.PIER_ISSUES_ROUTE ? '' : 'basic'"
                [icon]="currentRoute===constants.PIER_ISSUES_ROUTE ? 'alert-circle' : 'alert-circle-outline'" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
            <span [ngClass]="['caption-2']">Pier Issues</span>
        </div>
    </div>
    
    <div id="logout" (click)="openLogoutDialog()">
        <nb-icon status="basic" icon="log-out-outline" [options]="{ animation: { type: 'pulse' } }" nbTooltip="Logout"></nb-icon>
        <span class="caption-2">Logout</span>
    </div>
</div>