@import 'src/styles/vars.scss';

:host {
    max-height: inherit;
}

nb-accordion {
    nb-accordion-item {
        background: $tmo-gray !important;
    }

    nb-accordion-item-header {
        // display: grid;
        // grid-template-columns: 15% 15%;
        // justify-items: flex-start;

        span {
            color: $tmo-white;
        }
    }

    nb-accordion-item-body {
        background-color: $tmo-white;
    }
}

.btn {
    display: flex;
    align-items: center;

    span {
        margin-left: .5rem;
    }
}

.sections-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    padding: 1rem;
    
    span {
        color: $tmo-black;
    }
}

.section {
    height: 100%;
}

.section-title {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

#profile-details nb-tag {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.field {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: .7rem;

    span:first-child {
        border-bottom: 1px solid $tmo-white-border;
        padding-bottom: .1rem;
        margin-bottom: .3rem;
    }
}

#profile-details .field {
    width: 45%;
}

#permissions .field {
    nb-tag {
        cursor: pointer;
        margin-right: .2rem;
        margin-bottom: .2rem;
    }
}