<ngx-skeleton-loader *ngIf="!users; else usersRef"
    count="7"
    animation="pulse"
    [theme]="{
        'border-radius': '0rem',
        'height': '10%',
        'width': '100%',
        'animation': '1s cubic-bezier(.4,0,.2,1) infinite pulse'
    }"
></ngx-skeleton-loader>
<ng-template #usersRef>
    <nb-accordion>
        <nb-accordion-item #accordionItem *ngFor="let user of users; let i=index">
            <nb-accordion-item-header (click)="onUserClick(user)">
                <span class="caption-2" style="margin-right: 3rem;">{{ user.first_name + ' ' + user.last_name }}</span>
                <span *ngIf="user['requested_permissions'] && getSize(user['requested_permissions']) > 0" class="caption">Requests to Approve: <nb-tag status="warning" size="tiny" style="margin-left: .5rem"
                    [text]="getSize(user['requested_permissions'])"></nb-tag></span>
            </nb-accordion-item-header>
            <nb-accordion-item-body>
                <div class="sections-container">
                    <div class="section">
                        <div class="section-title">
                            <span class="caption-2">Profile</span>
                            <div class="btn" (click)="onAction('delete-user')">
                                <nb-icon icon="trash"></nb-icon>
                                <span class="caption-1">Delete</span>
                            </div>
                            <!-- <button nbButton status="danger" size="tiny" (click)="onAction('delete-user')">Delete</button> -->
                        </div>
                        <div class="section-content" id="profile-details" *ngIf="selectedUser && selectedUser['username'] === user['username'] && !accordionItem['collapsedValue']">
                            <div class="field" *ngFor="let field of ['first_name', 'last_name', 'username', 'email', 'slack_id', 'pier_support_group', 'admin_level']">
                                <span class="caption-1">{{ field | titlecase | appName }}</span>
                                <div *ngIf="field==='admin_level'; else textValue">
                                    <nb-tag size="large" [status]="selectedUser['permissions']['ADMIN'][0] === 'super' ? 'success' : 'primary'" [text]="selectedUser['permissions']['ADMIN'][0]"></nb-tag>
                                </div>
                                <ng-template #textValue>
                                    <span class="caption">{{ selectedUser[field] ? selectedUser[field] : '--' }}</span>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div class="section" id="permissions">
                        <div class="section-title">
                            <span class="caption-2">Permissions</span>

                            <div class="btn" (click)="onAction('update-permissions')">
                                <nb-icon icon="edit"></nb-icon>
                                <span class="caption-1">Update</span>
                            </div>
                            <!-- <button nbButton status="basic" size="tiny" (click)="onAction('update-permissions')">Update</button> -->
                        </div>
                        <div class="section-content">
                            <div class="field" *ngFor="let app of constants.APPS | keyvalue">
                                <span class="caption-1">{{ app.key }}</span>
                                <div class="app-permissions">
                                    <nb-tag *ngFor="let permission of app.value" [status]="hasPermission(app.key, permission)" [text]="permission" size="tiny"
                                        (click)="onPermissionToggle(app.key, permission)"></nb-tag>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section">
                        <div class="section-title">
                            <span class="caption-2">Requests</span>
                            <div class="btn" (click)="onAction('approve-requests')">
                                <nb-icon [icon]="getSize(user['requested_permissions']) > 0 ? 'checkmark-square-2' : 'square'"></nb-icon>
                                <span class="caption-1">Approve</span>
                            </div>
                            <!-- <button nbButton status="success" size="tiny" (click)="onAction('approve-requests')">Approve</button> -->
                        </div>
                        <div class="section-content">
                            <div class="field" *ngFor="let app of requestedPermissions | keyvalue">
                                <span class="caption-1">{{ app.key }}</span>
                                <div class="app-permissions">
                                    <nb-tag-list (tagRemove)="onRequestedPermissionsTagRemove($event, app.key)">
                                        <nb-tag *ngFor="let permission of app.value" [text]="permission" size="tiny" status="basic" removable="true"></nb-tag>
                                    </nb-tag-list>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nb-accordion-item-body>
        </nb-accordion-item>
    </nb-accordion>
</ng-template>