@import '../../styles/vars.scss';

:host {
    max-height: inherit;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.container {
    max-height: inherit;
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 3rem;
}


nb-card {
    max-height: 100%;
    height: 100%;
    background: none;
    border: none;
}

nb-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    border: none;
    padding: 0;
}

nb-card-body {
    padding: 0;
    padding-top: 1rem;
}

.btn {
    color: $tmo-black;
    transition: 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        color: $tmo-pink;
    }
}

::ng-deep {
    #datasources ngx-skeleton-loader .loader:nth-of-type(odd) {
        margin-right: 10%;
    }
}